@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

 body {
    font-family: "Pretendard";
}

@layer utilities {
	.text-lg.font-bold {
		line-height: 24px;
	}
	.text-lg.font-semibold {
		line-height: 24px;
	}
	.text-xs.font-semibold {
		line-height: 20px;
	}
	.text-paraph.text-3xl {
		line-height: 48px;
	}
	.text-paraph.text-2xl {
		line-height: 40px;
	}
	.text-paraph.text-xl{
		line-height: 28px;
	}
	.striped {
		background: repeating-linear-gradient(
			#ffffff,
			#ffffff 22px,
			#f2f2f2 24px
			)
		}
	.striped-desktop {
		background: repeating-linear-gradient(
			#ffffff,
			#ffffff 28px,
			#f2f2f2 30px
		)
	}
	textarea {
		resize: none
	}
}

@layer utilities {
	.bounce {
	  animation: bounce 2s infinite;
	}
  
	.bounce-1 {
	  animation: bounce 2s infinite;
	  animation-delay: 0s;
	}
  
	.bounce-2 {
	  animation: bounce 2s infinite;
	  animation-delay: 0.2s;
	}
  
	.bounce-3 {
	  animation: bounce 2s infinite;
	  animation-delay: 0.4s;
	}
  
	.bounce-4 {
	  animation: bounce 2s infinite;
	  animation-delay: 0.6s;
	}
  
	.bounce-5 {
	  animation: bounce 2s infinite;
	  animation-delay: 0.8s;
	}
  
	@keyframes bounce {
	  0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	  }
	  40% {
		transform: translateY(-30px);
	  }
	  60% {
		transform: translateY(-15px);
	  }
	}
  }
  