@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url('//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

@tailwind base;
@tailwind utilities;
@tailwind components;

:root{
    font-family: "Pretendard";
}

@layer utilities {
	.text-lg.font-bold {
		line-height: 24px;
	}
	.text-lg.font-semibold {
		line-height: 24px;
	}
	.text-xs.font-semibold {
		line-height: 20px;
	}
	.text-paraph.text-3xl {
		line-height: 48px;
	}
	.text-paraph.text-2xl {
		line-height: 40px;
	}
	.text-paraph.text-xl{
		line-height: 28px;
	}
}
