@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/components';

body{
    background-color: #F9F5FA;
}

.mantine-Calendar-calendarHeaderControlIcon {
    width: 50% !important;
    height: 50% !important;
}

@media (min-width: 1280px) {
    .mantine-Calendar-calendarHeaderControlIcon {
        width: 80% !important;
        height: 80% !important; 
    }
}